<div id='export-html' style='display:none;'>
  <style>
    .remarkalbe-selector{
      margin-bottom:0 !important;
      padding:0 !important;
      text-align:left;
      margin-top:10px !important;
      <%if !@is_cn %>
      display:none !important;
      <%end%>
    }
    .remarkalbe-selector li{
      display:inline !important;
      font-size:14px !important;
      font-weight:bold !important;
      border:2px dashed #ccc !important;
      padding:4px !important;
      margin-right:6px !important;
      color:#ccc !important; 
      cursor:pointer !important;
    }
    .remarkalbe-selector li.rmkb-active{
      color:#fff !important;
      border:2px solid #fc288d !important;
      background: #FC288D !important;
    }
    .remarkalbe-info-box-buttons{
      text-align:left !important;
    }
    #rmkb-slide-for-chinese{
      padding-left:0px; 
      cursor:pointer;
    }
    #rmkb-slide-for-chinese::before{
      content: "\25ba";
    }
    #rmkb-slide-for-chinese.rmkb-active::before{
      content: "\2714";
    }
  </style>
  <script>
    var __not_evernote_user = "Not Evernote user?"
    <% if @is_cn %>
    __not_evernote_user = "Save manually?"
  <% end %>
   if (window.$M){
     $M.messageBox("Connect Evernote","Please authorize Remarkerbe with access to your <b>Evernote</b> account.<ul class='remarkalbe-selector'><li class='rmkb-active' provider='evernote?endpoint=yinxiang'>印象笔记</li><li provider='evernote'>Evernote International</li></ul>",[{"content" : "Go for authorization", "target" : "_blank", "href" : "javascript:void(0)", "class" : "rmkb-btn rmkb-sync" }, {"content" : __not_evernote_user, "target" : "_blank", "href" : ($M.site || "http://remarker.be/" )+ "getting_started#faq" } ])
    var _rmkb_active = "rmkb-active";
    var _rmkb_base = "<%= @message[:base] %>"
    var $label = $("p.remarkalbe-info-box-content > b");
    var $title = $("h3.remarkalbe-info-box-title");
    var _rmkb_auth_url = ''
    $M.support_save_opener = false
    if (!$M._redirect_code_loaded){
      $(document).on("mousedown", ".remarkalbe-selector li", function(){
        var $elem = $(this);
        $elem.addClass(_rmkb_active).siblings().removeClass(_rmkb_active);
        var endpoint = $elem.attr("provider");
        var url =  _rmkb_base + endpoint
        if (url.indexOf('?') > -1){
          url += "&"
        }else{
          url +="?"
        }
        url += "pid=<%= @note.id %>"
        if ($M.support_save_opener){
           _rmkb_auth_url = url;
        } else {
            $(".rmkb-sync").attr('href', url);
        }
        
        $label.text($elem.text());    
        $title.text("Connect " + $elem.text())
      })
      $(document).on("click", "#rmkb-slide-for-chinese", function(){
        $(this).toggleClass("rmkb-active").next(".remarkalbe-selector").toggle();
        if ($(this).is(".rmkb-active")){
          $label.text($("li[provider].rmkb-active").text());    
          }else{
          $("li[provider='evernote']").mousedown();
          $label.text("Evernote");
        }
      });
      if ($M.support_save_opener){
        $(document).on("click", ".rmkb-sync", function(){
            window.open(_rmkb_auth_url);
          })
      }
      $M._redirect_code_loaded = true;
    }
    <% if @is_cn %>
    $(".remarkalbe-selector li:eq(0)").mousedown();
    <% elsif %>
    $(".remarkalbe-selector li:eq(1)").html('Evernote').mousedown();
    <% end %>
    $(".rmkb-sync").click(function(){
      $M.saved = true;
    });
  }
  </script>
</div>
<script>
  var _html = document.getElementById('export-html').innerHTML;
  window.parent.postMessage({
    status : "302",
    content : _html
  }, "*");
</script>
