<h2>Done</h2>
<p>Save to Evernote successfully!</p>
<!--
<script>
  window.parent.postMessage({
    status : "200"
  }, "*");
</script>
-->
<div id='export-html' style='display:none;'>
  <style>
    @media (max-width:1080px){

      #remarkalbe-notify{
        text-align:left;
      }
    }
    #rmkb-for-chinese{
      position:absolute;
      top:7px;
      right:190px;
    }
  </style>
  <script>
    //setTimeout(function(){$M.notify('Save successfully!   | For Chinese user: 如果要切换Evernote/印象笔记，<a  href=\"<%= "http://#{request.host_with_port}/logout/" %>\"  target="_blank" style="text-decoration:underline;">请点此登出</a>.', null, false);}, 500);
    if (window.$M){
    setTimeout(function(){$M.notify('<span id="rmkb-success">Save successfully!</span><span id="rmkb-for-chinese">*For Chinese user: <a  href=\"<%= "http://#{request.host_with_port}/logout/" %>\"  target="_blank" style="text-decoration:underline;">切换Evernote/印象笔记</a>?</span>', null, false);}, 500);
    $M.saved = true;
    if ($M.in_readable){
      window.parent.$M.saved = true;
    }
  }
  </script>
</div>
<script>
  var _html = document.getElementById('export-html').innerHTML;
  if (window.parent == window){
      window.opener.postMessage('saved', '*')
      window.close()
    } else {
    window.parent.postMessage({
      status : "302",
      content : _html
    }, "*");
  }
</script>
