<div style='background:#eee;color:#666;font-size:14px;padding:4px 10px; border-radius:4px'>
<p>
  <b>User:</b>
  <%= @note.username %>
</p>

<p>
  <b>Url:</b>
  <a href="<%= @note.url %>" target='_blank'>"<%= @note.url %>"</a>
  </p>
</div>

<%=raw @note.content %>

