<h1>File Upload</h1>
<form method='post' action='/upload/upload' enctype='multipart/form-data'>
<p><label for="upload_file">Select File</label> : 
<%= text_field_tag(:url) %>
<%= file_field 'upload', 'datafile' %></p>
<%= submit_tag "Upload" %>
</form>
